## Data Exploration

In [2]:
#Load and activate sql extension

%load_ext sql

In [3]:
#Load the database

%sql sqlite:///Northwind.db

'Connected: @Northwind.db'

In [4]:
from sqlalchemy import create_engine

# Create an engine to the database
engine = create_engine('sqlite:///Northwind.db')

# Connect to the engine
with engine.connect() as connection:
    # Execute the correct SQL command to list tables
    result = connection.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = result.fetchall()

    # Print the tables
    for table in tables:
        print(table[0])

Categories
Customers
Region
Shippers
Suppliers
Employees
EmployeeTerritories
OrderDetails
Orders
Territories
Products

In [5]:
%%sql

SELECT
    *
FROM 
    Customers

 * sqlite:///Northwind.db
Done.

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', None, '12209', 'Germany', '030-0074321', '030-0076545'),
 ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitucin 2222', 'Mxico D.F.', None, '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'),
 ('ANTON', 'Antonio Moreno Taquera', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'Mxico D.F.', None, '05023', 'Mexico', '(5) 555-3932', None),
 ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', None, 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'),
 ('BERGS', 'Berglunds snabbkp', 'Christina Berglund', 'Order Administrator', 'Berguvsvgen  8', 'Lule', None, 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67'),
 ('BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Sales Representative', 'Forsterstr. 57', 'Mannheim', None, '68306', 'Germany', '0621-08460', '0621-08924'),
 ('BLONP', 'Blondesddsl pre et fils', 'Frdrique Citeaux', 'Marketing Manager', '24, place Klber', 'Strasbourg', None, '67000', 'France', '88.60.15.31', '88.60.15.32'),
 ('BOLID', 'Blido Comidas preparadas', 'Martn Sommer', 'Owner', 'C/ Araquil, 67', 'Madrid', None, '28023', 'Spain', '(91) 555 22 82', '(91) 555 91 99'),
 ('BONAP', "Bon app'", 'Laurence Lebihan', 'Owner', '12, rue des Bouchers', 'Marseille', None, '13008', 'France', '91.24.45.40', '91.24.45.41'),
 ('BOTTM', 'Bottom-Dollar Markets', 'Elizabeth Lincoln', 'Accounting Manager', '23 Tsawassen Blvd.', 'Tsawassen', 'BC', 'T2F 8M4', 'Canada', '(604) 555-4729', '(604) 555-3745'),
 ('BSBEV', "B's Beverages", 'Victoria Ashworth', 'Sales Representative', 'Fauntleroy Circus', 'London', None, 'EC2 5NT', 'UK', '(171) 555-1212', None),
 ('CACTU', 'Cactus Comidas para llevar', 'Patricio Simpson', 'Sales Agent', 'Cerrito 333', 'Buenos Aires', None, '1010', 'Argentina', '(1) 135-5555', '(1) 135-4892'),
 ('CENTC', 'Centro comercial Moctezuma', 'Francisco Chang', 'Marketing Manager', 'Sierras de Granada 9993', 'Mxico D.F.', None, '05022', 'Mexico', '(5) 555-3392', '(5) 555-7293'),
 ('CHOPS', 'Chop-suey Chinese', 'Yang Wang', 'Owner', 'Hauptstr. 29', 'Bern', None, '3012', 'Switzerland', '0452-076545', None),
 ('COMMI', 'Comrcio Mineiro', 'Pedro Afonso', 'Sales Associate', 'Av. dos Lusadas, 23', 'Sao Paulo', 'SP', '05432-043', 'Brazil', '(11) 555-7647', None),
 ('CONSH', 'Consolidated Holdings', 'Elizabeth Brown', 'Sales Representative', 'Berkeley Gardens 12  Brewery', 'London', None, 'WX1 6LT', 'UK', '(171) 555-2282', '(171) 555-9199'),
 ('DRACD', 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Order Administrator', 'Walserweg 21', 'Aachen', None, '52066', 'Germany', '0241-039123', '0241-059428'),
 ('DUMON', 'Du monde entier', 'Janine Labrune', 'Owner', '67, rue des Cinquante Otages', 'Nantes', None, '44000', 'France', '40.67.88.88', '40.67.89.89'),
 ('EASTC', 'Eastern Connection', 'Ann Devon', 'Sales Agent', '35 King George', 'London', None, 'WX3 6FW', 'UK', '(171) 555-0297', '(171) 555-3373'),
 ('ERNSH', 'Ernst Handel', 'Roland Mendel', 'Sales Manager', 'Kirchgasse 6', 'Graz', None, '8010', 'Austria', '7675-3425', '7675-3426'),
 ('FAMIA', 'Familia Arquibaldo', 'Aria Cruz', 'Marketing Assistant', 'Rua Ors, 92', 'Sao Paulo', 'SP', '05442-030', 'Brazil', '(11) 555-9857', None),
 ('FISSA', 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'Accounting Manager', 'C/ Moralzarzal, 86', 'Madrid', None, '28034', 'Spain', '(91) 555 94 44', '(91) 555 55 93'),
 ('FOLIG', 'Folies gourmandes', 'Martine Ranc', 'Assistant Sales Agent', '184, chausse de Tournai', 'Lille', None, '59000', 'France', '20.16.10.16', '20.16.10.17'),
 ('FOLKO', 'Folk och f HB', 'Maria Larsson', 'Owner', 'kergatan 24', 'Brcke', None, 'S-844 67', 'Sweden', '0695-34 67 21', None),
 ('FRANK', 'Frankenversand', 'Peter Franken', 'Marketing Manager', 'Berliner Platz 43', 'Mnchen', None, '80805', 'Germany', '089-0877310', '089-0877451'),
 ('FRANR', 'France restauration', 'Carine Schmitt', 'Marketing Manager', '54, rue Royale', 'Nantes', None, '44000', 'France', '40.32.21.21', '40.32.21.20'),
 ('FRANS', 'Franchi S.p.A.', 'Paolo Accorti', 'Sales Representative', 'Via Monte Bianco 34', 'Torino', None, '10100', 'Italy', '011-4988260', '011-4988261'),
 ('FURIB', 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Sales Manager', 'Jardim das rosas n. 32', 'Lisboa', None, '1675', 'Portugal', '(1) 354-2534', '(1) 354-2535'),
 ('GALED', 'Galera del gastrnomo', 'Eduardo Saavedra', 'Marketing Manager', 'Rambla de Catalua, 23', 'Barcelona', None, '08022', 'Spain', '(93) 203 4560', '(93) 203 4561'),
 ('GODOS', 'Godos Cocina Tpica', 'Jos Pedro Freyre', 'Sales Manager', 'C/ Romero, 33', 'Sevilla', None, '41101', 'Spain', '(95) 555 82 82', None),
 ('GOURL', 'Gourmet Lanchonetes', 'Andr Fonseca', 'Sales Associate', 'Av. Brasil, 442', 'Campinas', 'SP', '04876-786', 'Brazil', '(11) 555-9482', None),
 ('GREAL', 'Great Lakes Food Market', 'Howard Snyder', 'Marketing Manager', '2732 Baker Blvd.', 'Eugene', 'OR', '97403', 'USA', '(503) 555-7555', None),
 ('GROSR', 'GROSELLA-Restaurante', 'Manuel Pereira', 'Owner', '5 Ave. Los Palos Grandes', 'Caracas', 'DF', '1081', 'Venezuela', '(2) 283-2951', '(2) 283-3397'),
 ('HANAR', 'Hanari Carnes', 'Mario Pontes', 'Accounting Manager', 'Rua do Pao, 67', 'Rio de Janeiro', 'RJ', '05454-876', 'Brazil', '(21) 555-0091', '(21) 555-8765'),
 ('HILAA', 'HILARION-Abastos', 'Carlos Hernndez', 'Sales Representative', 'Carrera 22 con Ave. Carlos Soublette #8-35', 'San Cristbal', 'Tchira', '5022', 'Venezuela', '(5) 555-1340', '(5) 555-1948'),
 ('HUNGC', 'Hungry Coyote Import Store', 'Yoshi Latimer', 'Sales Representative', 'City Center Plaza 516 Main St.', 'Elgin', 'OR', '97827', 'USA', '(503) 555-6874', '(503) 555-2376'),
 ('HUNGO', 'Hungry Owl All-Night Grocers', 'Patricia McKenna', 'Sales Associate', '8 Johnstown Road', 'Cork', 'Co. Cork', None, 'Ireland', '2967 542', '2967 3333'),
 ('ISLAT', 'Island Trading', 'Helen Bennett', 'Marketing Manager', 'Garden House Crowther Way', 'Cowes', 'Isle of Wight', 'PO31 7PJ', 'UK', '(198) 555-8888', None),
 ('KOENE', 'Kniglich Essen', 'Philip Cramer', 'Sales Associate', 'Maubelstr. 90', 'Brandenburg', None, '14776', 'Germany', '0555-09876', None),
 ('LACOR', "La corne d'abondance", 'Daniel Tonini', 'Sales Representative', "67, avenue de l'Europe", 'Versailles', None, '78000', 'France', '30.59.84.10', '30.59.85.11'),
 ('LAMAI', "La maison d'Asie", 'Annette Roulet', 'Sales Manager', '1 rue Alsace-Lorraine', 'Toulouse', None, '31000', 'France', '61.77.61.10', '61.77.61.11'),
 ('LAUGB', 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', 'Marketing Assistant', '1900 Oak St.', 'Vancouver', 'BC', 'V3F 2K1', 'Canada', '(604) 555-3392', '(604) 555-7293'),
 ('LAZYK', 'Lazy K Kountry Store', 'John Steel', 'Marketing Manager', '12 Orchestra Terrace', 'Walla Walla', 'WA', '99362', 'USA', '(509) 555-7969', '(509) 555-6221'),
 ('LEHMS', 'Lehmanns Marktstand', 'Renate Messner', 'Sales Representative', 'Magazinweg 7', 'Frankfurt a.M.', None, '60528', 'Germany', '069-0245984', '069-0245874'),
 ('LETSS', "Let's Stop N Shop", 'Jaime Yorres', 'Owner', '87 Polk St. Suite 5', 'San Francisco', 'CA', '94117', 'USA', '(415) 555-5938', None),
 ('LILAS', 'LILA-Supermercado', 'Carlos Gonzlez', 'Accounting Manager', 'Carrera 52 con Ave. Bolvar #65-98 Llano Largo', 'Barquisimeto', 'Lara', '3508', 'Venezuela', '(9) 331-6954', '(9) 331-7256'),
 ('LINOD', 'LINO-Delicateses', 'Felipe Izquierdo', 'Owner', 'Ave. 5 de Mayo Porlamar', 'I. de Margarita', 'Nueva Esparta', '4980', 'Venezuela', '(8) 34-56-12', '(8) 34-93-93'),
 ('LONEP', 'Lonesome Pine Restaurant', 'Fran Wilson', 'Sales Manager', '89 Chiaroscuro Rd.', 'Portland', 'OR', '97219', 'USA', '(503) 555-9573', '(503) 555-9646'),
 ('MAGAA', 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Marketing Manager', 'Via Ludovico il Moro 22', 'Bergamo', None, '24100', 'Italy', '035-640230', '035-640231'),
 ('MAISD', 'Maison Dewey', 'Catherine Dewey', 'Sales Agent', 'Rue Joseph-Bens 532', 'Bruxelles', None, 'B-1180', 'Belgium', '(02) 201 24 67', '(02) 201 24 68'),
 ('MEREP', 'Mre Paillarde', 'Jean Fresnire', 'Marketing Assistant', '43 rue St. Laurent', 'Montral', 'Qubec', 'H1J 1C3', 'Canada', '(514) 555-8054', '(514) 555-8055'),
 ('MORGK', 'Morgenstern Gesundkost', 'Alexander Feuer', 'Marketing Assistant', 'Heerstr. 22', 'Leipzig', None, '04179', 'Germany', '0342-023176', None),
 ('NORTS', 'North/South', 'Simon Crowther', 'Sales Associate', 'South House 300 Queensbridge', 'London', None, 'SW7 1RZ', 'UK', '(171) 555-7733', '(171) 555-2530'),
 ('OCEAN', 'Ocano Atlntico Ltda.', 'Yvonne Moncada', 'Sales Agent', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', None, '1010', 'Argentina', '(1) 135-5333', '(1) 135-5535'),
 ('OLDWO', 'Old World Delicatessen', 'Rene Phillips', 'Sales Representative', '2743 Bering St.', 'Anchorage', 'AK', '99508', 'USA', '(907) 555-7584', '(907) 555-2880'),
 ('OTTIK', 'Ottilies Kseladen', 'Henriette Pfalzheim', 'Owner', 'Mehrheimerstr. 369', 'Kln', None, '50739', 'Germany', '0221-0644327', '0221-0765721'),
 ('PARIS', 'Paris spcialits', 'Marie Bertrand', 'Owner', '265, boulevard Charonne', 'Paris', None, '75012', 'France', '(1) 42.34.22.66', '(1) 42.34.22.77'),
 ('PERIC', 'Pericles Comidas clsicas', 'Guillermo Fernndez', 'Sales Representative', 'Calle Dr. Jorge Cash 321', 'Mxico D.F.', None, '05033', 'Mexico', '(5) 552-3745', '(5) 545-3745'),
 ('PICCO', 'Piccolo und mehr', 'Georg Pipps', 'Sales Manager', 'Geislweg 14', 'Salzburg', None, '5020', 'Austria', '6562-9722', '6562-9723'),
 ('PRINI', 'Princesa Isabel Vinhos', 'Isabel de Castro', 'Sales Representative', 'Estrada da sade n. 58', 'Lisboa', None, '1756', 'Portugal', '(1) 356-5634', None),
 ('QUEDE', 'Que Delcia', 'Bernardo Batista', 'Accounting Manager', 'Rua da Panificadora, 12', 'Rio de Janeiro', 'RJ', '02389-673', 'Brazil', '(21) 555-4252', '(21) 555-4545'),
 ('QUEEN', 'Queen Cozinha', 'Lcia Carvalho', 'Marketing Assistant', 'Alameda dos Canrios, 891', 'Sao Paulo', 'SP', '05487-020', 'Brazil', '(11) 555-1189', None),
 ('QUICK', 'QUICK-Stop', 'Horst Kloss', 'Accounting Manager', 'Taucherstrae 10', 'Cunewalde', None, '01307', 'Germany', '0372-035188', None),
 ('RANCH', 'Rancho grande', 'Sergio Gutirrez', 'Sales Representative', 'Av. del Libertador 900', 'Buenos Aires', None, '1010', 'Argentina', '(1) 123-5555', '(1) 123-5556'),
 ('RATTC', 'Rattlesnake Canyon Grocery', 'Paula Wilson', 'Assistant Sales Representative', '2817 Milton Dr.', 'Albuquerque', 'NM', '87110', 'USA', '(505) 555-5939', '(505) 555-3620'),
 ('REGGC', 'Reggiani Caseifici', 'Maurizio Moroni', 'Sales Associate', 'Strada Provinciale 124', 'Reggio Emilia', None, '42100', 'Italy', '0522-556721', '0522-556722'),
 ('RICAR', 'Ricardo Adocicados', 'Janete Limeira', 'Assistant Sales Agent', 'Av. Copacabana, 267', 'Rio de Janeiro', 'RJ', '02389-890', 'Brazil', '(21) 555-3412', None),
 ('RICSU', 'Richter Supermarkt', 'Michael Holz', 'Sales Manager', 'Grenzacherweg 237', 'Genve', None, '1203', 'Switzerland', '0897-034214', None),
 ('ROMEY', 'Romero y tomillo', 'Alejandra Camino', 'Accounting Manager', 'Gran Va, 1', 'Madrid', None, '28001', 'Spain', '(91) 745 6200', '(91) 745 6210'),
 ('SANTG', 'Sant Gourmet', 'Jonas Bergulfsen', 'Owner', 'Erling Skakkes gate 78', 'Stavern', None, '4110', 'Norway', '07-98 92 35', '07-98 92 47'),
 ('SAVEA', 'Save-a-lot Markets', 'Jose Pavarotti', 'Sales Representative', '187 Suffolk Ln.', 'Boise', 'ID', '83720', 'USA', '(208) 555-8097', None),
 ('SEVES', 'Seven Seas Imports', 'Hari Kumar', 'Sales Manager', '90 Wadhurst Rd.', 'London', None, 'OX15 4NB', 'UK', '(171) 555-1717', '(171) 555-5646'),
 ('SIMOB', 'Simons bistro', 'Jytte Petersen', 'Owner', 'Vinbltet 34', 'Kobenhavn', None, '1734', 'Denmark', '31 12 34 56', '31 13 35 57'),
 ('SPECD', 'Spcialits du monde', 'Dominique Perrier', 'Marketing Manager', '25, rue Lauriston', 'Paris', None, '75016', 'France', '(1) 47.55.60.10', '(1) 47.55.60.20'),
 ('SPLIR', 'Split Rail Beer & Ale', 'Art Braunschweiger', 'Sales Manager', 'P.O. Box 555', 'Lander', 'WY', '82520', 'USA', '(307) 555-4680', '(307) 555-6525'),
 ('SUPRD', 'Suprmes dlices', 'Pascale Cartrain', 'Accounting Manager', 'Boulevard Tirou, 255', 'Charleroi', None, 'B-6000', 'Belgium', '(071) 23 67 22 20', '(071) 23 67 22 21'),
 ('THEBI', 'The Big Cheese', 'Liz Nixon', 'Marketing Manager', '89 Jefferson Way Suite 2', 'Portland', 'OR', '97201', 'USA', '(503) 555-3612', None),
 ('THECR', 'The Cracker Box', 'Liu Wong', 'Marketing Assistant', '55 Grizzly Peak Rd.', 'Butte', 'MT', '59801', 'USA', '(406) 555-5834', '(406) 555-8083'),
 ('TOMSP', 'Toms Spezialitten', 'Karin Josephs', 'Marketing Manager', 'Luisenstr. 48', 'Mnster', None, '44087', 'Germany', '0251-031259', '0251-035695'),
 ('TORTU', 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Owner', 'Avda. Azteca 123', 'Mxico D.F.', None, '05033', 'Mexico', '(5) 555-2933', None),
 ('TRADH', 'Tradio Hipermercados', 'Anabela Domingues', 'Sales Representative', 'Av. Ins de Castro, 414', 'Sao Paulo', 'SP', '05634-030', 'Brazil', '(11) 555-2167', '(11) 555-2168'),
 ('TRAIH', "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', 'Sales Associate', '722 DaVinci Blvd.', 'Kirkland', 'WA', '98034', 'USA', '(206) 555-8257', '(206) 555-2174'),
 ('VAFFE', 'Vaffeljernet', 'Palle Ibsen', 'Sales Manager', 'Smagsloget 45', 'rhus', None, '8200', 'Denmark', '86 21 32 43', '86 22 33 44'),
 ('Val2 ', 'IT', 'Val2', 'IT', None, None, None, None, None, None, None),
 ('VALON', 'IT', 'Valon Hoti', 'IT', None, None, None, None, None, None, None),
 ('VICTE', 'Victuailles en stock', 'Mary Saveley', 'Sales Agent', '2, rue du Commerce', 'Lyon', None, '69004', 'France', '78.32.54.86', '78.32.54.87'),
 ('VINET', 'Vins et alcools Chevalier', 'Paul Henriot', 'Accounting Manager', "59 rue de l'Abbaye", 'Reims', None, '51100', 'France', '26.47.15.10', '26.47.15.11'),
 ('WANDK', 'Die Wandernde Kuh', 'Rita Mller', 'Sales Representative', 'Adenauerallee 900', 'Stuttgart', None, '70563', 'Germany', '0711-020361', '0711-035428'),
 ('WARTH', 'Wartian Herkku', 'Pirkko Koskitalo', 'Accounting Manager', 'Torikatu 38', 'Oulu', None, '90110', 'Finland', '981-443655', '981-443655'),
 ('WELLI', 'Wellington Importadora', 'Paula Parente', 'Sales Manager', 'Rua do Mercado, 12', 'Resende', 'SP', '08737-363', 'Brazil', '(14) 555-8122', None),
 ('WHITC', 'White Clover Markets', 'Karl Jablonski', 'Owner', '305 - 14th Ave. S. Suite 3B', 'Seattle', 'WA', '98128', 'USA', '(206) 555-4112', '(206) 555-4115'),
 ('WILMK', 'Wilman Kala', 'Matti Karttunen', 'Owner/Marketing Assistant', 'Keskuskatu 45', 'Helsinki', None, '21240', 'Finland', '90-224 8858', '90-224 8858'),
 ('WOLZA', 'Wolski  Zajazd', 'Zbyszek Piestrzeniewicz', 'Owner', 'ul. Filtrowa 68', 'Warszawa', None, '01-012', 'Poland', '(26) 642-7012', '(26) 642-7012')]

## 1. Top Customer by Sales

In [5]:
%%sql

SELECT
    CompanyName,
    COUNT(o.OrderID) AS Total_Orders,
    ROUND(SUM(od.Quantity * od.UnitPrice)) AS Total_Sales
FROM
    Customers c
JOIN
    Orders o
ON
    c.CustomerID = o.CustomerID
JOIN
    OrderDetails od
ON
    o.OrderID = od.OrderID
GROUP BY
    CompanyName
ORDER BY
    Total_Sales DESC
LIMIT 5

 * sqlite:///Northwind.db
Done.

[('QUICK-Stop', 86, 117483.0),
 ('Save-a-lot Markets', 116, 115673.0),
 ('Ernst Handel', 102, 113237.0),
 ('Hungry Owl All-Night Grocers', 55, 57317.0),
 ('Rattlesnake Canyon Grocery', 71, 52246.0)]

### Top Customer by Sales Order Pattern

In [6]:

%%sql

SELECT 
    CompanyName,
    STRFTIME('%Y-%m',OrderDate) AS Month, 
    ROUND(SUM(od.Quantity * od.UnitPrice))AS Total_sales
FROM
    Customers c
JOIN
    Orders o
ON
    c.CustomerID = o.CustomerID
JOIN
    OrderDetails od
ON
    o.OrderID = od.OrderID
GROUP BY
    c.CustomerID, CompanyName, Month
ORDER BY 
    c.CustomerID, Month 
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('Alfreds Futterkiste', '1997-08', 1086.0),
 ('Alfreds Futterkiste', '1997-10', 1208.0),
 ('Alfreds Futterkiste', '1998-01', 851.0),
 ('Alfreds Futterkiste', '1998-03', 491.0),
 ('Alfreds Futterkiste', '1998-04', 960.0),
 ('Ana Trujillo Emparedados y helados', '1996-09', 89.0),
 ('Ana Trujillo Emparedados y helados', '1997-08', 480.0),
 ('Ana Trujillo Emparedados y helados', '1997-11', 320.0),
 ('Ana Trujillo Emparedados y helados', '1998-03', 514.0),
 ('Antonio Moreno Taquera', '1996-11', 403.0)]

### Top Customer by Sales Order Preference

In [7]:
%%sql

SELECT 
    CompanyName,
    ProductName, 
    COUNT(o.OrderID) AS Total_Orders, 
    ROUND(SUM(od.Quantity * od.UnitPrice)) AS Total_Sales
FROM 
    Customers c
JOIN
    Orders o
ON
    c.CustomerID = o.CustomerID
JOIN
    OrderDetails od
ON
    o.OrderID = od.OrderID
JOIN
    Products p
ON
    p.ProductID = od.ProductID
GROUP BY 
    CompanyName, ProductName
ORDER BY 
    Total_Sales DESC
LIMIT 5;

 * sqlite:///Northwind.db
Done.

[('QUICK-Stop', 'Cte de Blaye', 2, 23715.0),
 ('Hungry Owl All-Night Grocers', 'Thringer Rostbratwurst', 3, 18569.0),
 ('Hanari Carnes', 'Cte de Blaye', 3, 18182.0),
 ('Rattlesnake Canyon Grocery', 'Cte de Blaye', 2, 16864.0),
 ('Save-a-lot Markets', 'Thringer Rostbratwurst', 3, 14260.0)]

### Customer Preference

In [8]:
%%sql

SELECT 
    c.CustomerID, 
    CompanyName, 
    p.ProductID 
    ProductName, 
    COUNT(od.ProductID) AS Times_purchased, 
    SUM(Quantity) AS Total_quantity, 
    SUM(Quantity * od.UnitPrice) AS Total_spent
FROM 
    OrderDetails od
JOIN 
    Orders o 
ON 
    od.OrderID = o.OrderID
JOIN 
    customers c 
ON 
    o.CustomerID = c.CustomerID
JOIN 
    Products p 
ON 
    od.ProductID = p.ProductID
GROUP BY 
    c.CustomerID, c.CompanyName, p.ProductID, p.ProductName
ORDER BY 
    c.CustomerID, Times_purchased DESC
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('ALFKI', 'Alfreds Futterkiste', 28, 2, 17, 775.2),
 ('ALFKI', 'Alfreds Futterkiste', 3, 1, 6, 60),
 ('ALFKI', 'Alfreds Futterkiste', 6, 1, 16, 400),
 ('ALFKI', 'Alfreds Futterkiste', 39, 1, 21, 378),
 ('ALFKI', 'Alfreds Futterkiste', 46, 1, 2, 24),
 ('ALFKI', 'Alfreds Futterkiste', 58, 1, 40, 530.0),
 ('ALFKI', 'Alfreds Futterkiste', 59, 1, 15, 825),
 ('ALFKI', 'Alfreds Futterkiste', 63, 1, 20, 878.0),
 ('ALFKI', 'Alfreds Futterkiste', 71, 1, 20, 430.0),
 ('ALFKI', 'Alfreds Futterkiste', 76, 1, 15, 270)]

## 2.Product Performance

### Sales Performance

In [10]:
%%sql

SELECT 
    p.ProductID, 
    ProductName, 
    COUNT(od.OrderID) AS TotalOrders,
    SUM(Quantity) AS Total_units_sold, 
    ROUND(SUM(od.Quantity * od.UnitPrice)) AS Total_sales, 
    ROUND(AVG(od.UnitPrice)) AS Avg_price
FROM 
    OrderDetails od
JOIN 
    Products p 
ON 
    od.ProductID = p.ProductID
GROUP BY 
    p.ProductID, ProductName
ORDER BY
    Total_sales DESC
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[(38, 'Cte de Blaye', 24, 623, 149984.0, 246.0),
 (29, 'Thringer Rostbratwurst', 32, 746, 87736.0, 116.0),
 (59, 'Raclette Courdavault', 54, 1496, 76296.0, 51.0),
 (60, 'Camembert Pierrot', 51, 1577, 50286.0, 32.0),
 (62, 'Tarte au sucre', 48, 1083, 49828.0, 46.0),
 (56, 'Gnocchi di nonna Alice', 50, 1263, 45121.0, 35.0),
 (51, 'Manjimup Dried Apples', 39, 886, 44743.0, 51.0),
 (17, 'Alice Mutton', 37, 978, 35482.0, 36.0),
 (18, 'Carnarvon Tigers', 27, 539, 31988.0, 60.0),
 (28, 'Rssle Sauerkraut', 33, 640, 26866.0, 42.0)]

In [9]:
%%sql

SELECT 
    p.ProductID, 
    ProductName, 
    COUNT(od.OrderID) AS TotalOrders,
    SUM(Quantity) AS Total_units_sold, 
    ROUND(SUM(od.Quantity * od.UnitPrice)) AS Total_sales, 
    ROUND(AVG(od.UnitPrice)) AS Avg_price
FROM 
    OrderDetails od
JOIN 
    Products p 
ON 
    od.ProductID = p.ProductID
GROUP BY 
    p.ProductID, ProductName
ORDER BY
    Total_units_sold DESC
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[(60, 'Camembert Pierrot', 51, 1577, 50286.0, 32.0),
 (59, 'Raclette Courdavault', 54, 1496, 76296.0, 51.0),
 (31, 'Gorgonzola Telino', 51, 1397, 16173.0, 12.0),
 (56, 'Gnocchi di nonna Alice', 50, 1263, 45121.0, 35.0),
 (16, 'Pavlova', 43, 1158, 18748.0, 16.0),
 (75, 'Rhnbru Klosterbier', 46, 1155, 8651.0, 7.0),
 (24, 'Guaran Fantstica', 51, 1125, 4783.0, 4.0),
 (40, 'Boston Crab Meat', 41, 1103, 19048.0, 17.0),
 (62, 'Tarte au sucre', 48, 1083, 49828.0, 46.0),
 (2, 'Chang', 44, 1057, 18559.0, 18.0)]

### Sales Trend

In [10]:
%%sql

SELECT 
    p.ProductID, 
    ProductName,
    STRFTIME('%Y-%m',OrderDate) AS Month,
    SUM(Quantity) AS Total_units_sold, 
    SUM(Quantity * od.UnitPrice) AS Total_sales
FROM 
    OrderDetails od
JOIN 
    Orders o 
ON 
    od.OrderID = o.OrderID
JOIN 
    Products p 
ON 
    od.ProductID = p.ProductID
GROUP BY 
    p.ProductID, ProductName, Month
ORDER BY 
    p.ProductID, Month
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[(1, 'Chai', '1996-08', 63, 907.2),
 (1, 'Chai', '1996-09', 20, 288.0),
 (1, 'Chai', '1996-11', 27, 388.8),
 (1, 'Chai', '1996-12', 15, 216.0),
 (1, 'Chai', '1997-01', 34, 489.6),
 (1, 'Chai', '1997-03', 15, 216.0),
 (1, 'Chai', '1997-04', 40, 720),
 (1, 'Chai', '1997-05', 8, 144),
 (1, 'Chai', '1997-06', 10, 180),
 (1, 'Chai', '1997-07', 29, 522)]

### Product Profitability

In [11]:

%%sql

SELECT 
    p.ProductID, 
    p.ProductName, 
    SUM(od.UnitPrice * od.Quantity) - (p.UnitPrice * od.Quantity) AS TotalProfit,
    SUM(od.UnitPrice * od.Quantity) AS TotalSales
FROM 
    Products p
JOIN 
    OrderDetails od 
ON 
    p.ProductID = od.ProductID
GROUP BY
    p.ProductID, p.ProductName
ORDER BY 
    TotalProfit DESC
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[(38, 'Cte de Blaye', 144714.2, 149984.2),
 (29, 'Thringer Rostbratwurst', 86498.50000000001, 87736.40000000001),
 (59, 'Raclette Courdavault', 74646, 76296),
 (62, 'Tarte au sucre', 49088.4, 49827.9),
 (60, 'Camembert Pierrot', 48926.0, 50286.0),
 (56, 'Gnocchi di nonna Alice', 45045.2, 45121.2),
 (51, 'Manjimup Dried Apples', 42622.6, 44742.6),
 (17, 'Alice Mutton', 34312.2, 35482.2),
 (18, 'Carnarvon Tigers', 31237.5, 31987.5),
 (28, 'Rssle Sauerkraut', 25953.6, 26865.6)]

## 3. Order Trends

In [13]:
%%sql

SELECT 
    STRFTIME('%Y', OrderDate) AS OrderYear, 
    COUNT(o.OrderID) AS Total_orders, 
    SUM(Quantity) AS Total_sales
FROM 
    Orders o
JOIN
    OrderDetails od
ON
    od.OrderID = o.OrderID
GROUP BY 
    OrderYear
ORDER BY 
    OrderYear;

 * sqlite:///Northwind.db
Done.

[('1996', 405, 9581), ('1997', 1059, 25489), ('1998', 691, 16247)]

## 4. Supplier Analysis

In [15]:
%%sql

SELECT
    s.CompanyName,
    s.SupplierID,
    o.OrderID,
    o.OrderDate,
    o.ShippedDate,
    STRFTIME('%d',o.ShippedDate) - STRFTIME('%d',o.OrderDate) AS DeliveryTimes
FROM
    Suppliers s
JOIN
    Products p
ON
    p.SupplierID = s.SupplierID
JOIN
    OrderDetails od
ON
    od.ProductID = p.ProductID
JOIN 
    Orders o
ON
    o.OrderID = od.OrderID
GROUP BY
    s.CompanyName, s.SupplierID
ORDER BY
    DeliveryTimes
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('Escargots Nouveaux', 27, 10314, '1996-09-25 00:00:00', '1996-10-04 00:00:00', -21),
 ('Gai pturage', 28, 10252, '1996-07-09 00:00:00', '1996-07-11 00:00:00', 2),
 ('Norske Meierier', 15, 10252, '1996-07-09 00:00:00', '1996-07-11 00:00:00', 2),
 ('Plutzer Lebensmittelgromrkte AG', 12, 10256, '1996-07-15 00:00:00', '1996-07-17 00:00:00', 2),
 ('Specialty Biscuits, Ltd.', 8, 10252, '1996-07-09 00:00:00', '1996-07-11 00:00:00', 2),
 ('Exotic Liquids', 1, 10255, '1996-07-12 00:00:00', '1996-07-15 00:00:00', 3),
 ("Grandma Kelly's Homestead", 3, 10262, '1996-07-22 00:00:00', '1996-07-25 00:00:00', 3),
 ('Pavlova, Ltd.', 7, 10255, '1996-07-12 00:00:00', '1996-07-15 00:00:00', 3),
 ('Svensk Sjfda AB', 17, 10255, '1996-07-12 00:00:00', '1996-07-15 00:00:00', 3),
 ('New England Seafood Cannery', 19, 10250, '1996-07-08 00:00:00', '1996-07-12 00:00:00', 4)]

In [14]:
%%sql

SELECT
    s.SupplierID,
    CompanyName,
    ProductName,
    Discontinued
FROM
    Suppliers s
JOIN
    Products p
ON 
    p.SupplierID = s.SupplierID
WHERE
    p.Discontinued > 0
GROUP BY
    ProductName, s.SupplierID
ORDER BY
    Discontinued

 * sqlite:///Northwind.db
Done.

[(7, 'Pavlova, Ltd.', 'Alice Mutton', 1),
 (2, 'New Orleans Cajun Delights', "Chef Anton's Gumbo Mix", 1),
 (10, 'Refrescos Americanas LTDA', 'Guaran Fantstica', 1),
 (4, 'Tokyo Traders', 'Mishi Kobe Niku', 1),
 (24, "G'day, Mate", 'Perth Pasties', 1),
 (12, 'Plutzer Lebensmittelgromrkte AG', 'Rssle Sauerkraut', 1),
 (20, 'Leka Trading', 'Singaporean Hokkien Fried Mee', 1),
 (12, 'Plutzer Lebensmittelgromrkte AG', 'Thringer Rostbratwurst', 1)]

In [15]:
%%sql

SELECT 
    s.SupplierID, 
    s.CompanyName AS Supplier_Name, 
    COUNT(p.ProductID) AS Total_Products, 
    SUM(od.Quantity) AS Total_Units_Sold, 
    ROUND(AVG(od.UnitPrice * od.Quantity), 2) AS Avg_Sales_Value
FROM 
    Suppliers s
JOIN 
    Products p 
ON 
    s.SupplierID = p.SupplierID
JOIN 
    OrderDetails od 
ON 
    p.ProductID = od.ProductID
GROUP BY 
    s.SupplierID, s.CompanyName
ORDER BY 
    Total_Units_Sold DESC
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[(12, 'Plutzer Lebensmittelgromrkte AG', 179, 4072, 871.21),
 (7, 'Pavlova, Ltd.', 163, 3937, 707.89),
 (28, 'Gai pturage', 105, 3073, 1205.54),
 (8, 'Specialty Biscuits, Ltd.', 126, 2851, 387.25),
 (15, 'Norske Meierier', 105, 2526, 446.64),
 (14, 'Formaggi Fortini s.r.l.', 104, 2500, 491.18),
 (1, 'Exotic Liquids', 94, 2213, 382.09),
 (24, "G'day, Mate", 98, 2108, 710.58),
 (19, 'New England Seafood Cannery', 88, 2084, 319.85),
 (20, 'Leka Trading', 82, 1878, 548.0)]

## 5. Profitability Analysis

In [16]:
%%sql

SELECT 
    CategoryName,
    ProductName,
    COUNT(od.OrderID) AS TotalOrders,
    ROUND(SUM(od.Quantity * od.UnitPrice)) AS GrossSales,
    ROUND(SUM(od.Quantity * od.UnitPrice) / COUNT(od.OrderID)) AS AverageOrderValue
FROM 
    OrderDetails od
JOIN 
    Products p 
ON 
    od.ProductID = p.ProductID
JOIN 
    Categories c 
ON 
    p.CategoryID = c.CategoryID
GROUP BY 
    CategoryName
ORDER BY 
    GrossSales DESC;

 * sqlite:///Northwind.db
Done.

[('Beverages', 'Chartreuse verte', 404, 286527.0, 709.0),
 ('Dairy Products', 'Queso Cabrales', 366, 251331.0, 687.0),
 ('Meat/Poultry', 'Pt chinois', 173, 178189.0, 1030.0),
 ('Confections', "Sir Rodney's Marmalade", 334, 177099.0, 530.0),
 ('Seafood', "Jack's New England Clam Chowder", 330, 141623.0, 429.0),
 ('Condiments', 'Louisiana Fiery Hot Pepper Sauce', 216, 113695.0, 526.0),
 ('Produce', 'Tofu', 136, 105269.0, 774.0),
 ('Grains/Cereals', 'Singaporean Hokkien Fried Mee', 196, 100727.0, 514.0)]

In [19]:
%%sql

SELECT 
    ProductName, 
    SUM(od.Quantity * od.UnitPrice) AS Total_Revenue, 
    SUM(od.Quantity* od.UnitPrice) AS Estimated_Profit,  
    ROUND(SUM(od.Quantity * od.UnitPrice) * 100.0 / SUM(od.Quantity * od.UnitPrice), 2) AS Profit_Margin
FROM 
    OrderDetails od
JOIN 
    Products p 
ON 
    od.ProductID = p.ProductID
GROUP BY 
    p.ProductName
ORDER BY 
    Estimated_Profit DESC
LIMIT 10;

 * sqlite:///Northwind.db
Done.

[('Cte de Blaye', 149984.2, 149984.2, 100.0),
 ('Thringer Rostbratwurst', 87736.40000000001, 87736.40000000001, 100.0),
 ('Raclette Courdavault', 76296, 76296, 100.0),
 ('Camembert Pierrot', 50286.0, 50286.0, 100.0),
 ('Tarte au sucre', 49827.9, 49827.9, 100.0),
 ('Gnocchi di nonna Alice', 45121.2, 45121.2, 100.0),
 ('Manjimup Dried Apples', 44742.6, 44742.6, 100.0),
 ('Alice Mutton', 35482.2, 35482.2, 100.0),
 ('Carnarvon Tigers', 31987.5, 31987.5, 100.0),
 ('Rssle Sauerkraut', 26865.6, 26865.6, 100.0)]